# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
TextualSummarizationOfVideosInIndicLanguage-backend/venv/

# Environment variables
.env

# Generated media & downloads
downloads/
audio_files/

# System files
.DS_Store
Thumbs.db
